.event-list-container {
  background-color: #d7bde2;
  height: 700px;
}

.header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.vertical-time-line {
  height: 630px;
}
