.banner {
  background-image: url("./logo/banner.jpg");
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 50px;
  padding-left: 200px;
}

#text {
  color: white;
  font-size: 50px;
  margin-top: 150px;
}

.App-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 150px;
  align-content: center;
  margin-right: -327px;
}
