.banner {
  background-image: url("./logo/banner.jpg");
  background-size: auto;
  background-position: center;
  height: 256px;
  text-align: center;
  margin-bottom: 50px;
}

.banner h1 {
  color: white;
  font-weight: bold;
}

.banner h5 {
  color: white;
}

.logo {
  width: 150px;
  height: 150px;
}
