.nav-bar {
  opacity: 0.8;
  display: flex;
}

.brand-div {
  margin: auto;
  text-align: center;
  font-size: 60%;
  font-weight: bold;
}

@media only screen and (min-width: 576px) {
  .brand-div {
    font-size: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .brand-div {
    font-size: 80%;
  }
}

.brand-img {
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 576px) {
  .brand-img {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 992px) {
  .brand-img {
    height: 50px;
    width: 50px;
  }
}

.link-div {
  background-color: black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 70%;
  text-align: left;
  margin: 4px 6px;
  padding: 0 10px;
}

.link-div:hover {
  background-color: darkred;
}

@media only screen and (min-width: 992px) {
  .link-div {
    width: 110px;
    font-size: 100%;
    text-align: center;
  }
}

.dropdown {
  background-color: black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 70%;
  text-align: left;
  padding: 0 10px;
  margin: 4px 6px;
}

@media only screen and (min-width: 992px) {
  .dropdown {
    width: 110px;
    font-size: 100%;
    text-align: center;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 5;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid rgb(0, 0, 0);
  color: gray;
}

.dropdown-content a:hover {
  background-color: darkred;
  color: white;
}

.dropdown:hover {
  background-color: darkred;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2 {
  position: relative;
}

.dropdown2:hover .dropdown-sub {
  display: block;
}

.dropdown-sub {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: black;
  min-width: 160px;
  z-index: 5;
}
