.contributes-container {
  //   position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Height of the footer */
  background: #aae7d8;
  padding-top: 100px;
}

.contributes-card-row {
  padding: 10px;
}

.btnCallToAction {
  color:white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: green;
border-radius: 50px;
font-weight: bold;
  &:hover{
      color: rgb(10, 26, 36);
  }
}
