.contributes-container {
  //   position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Height of the footer */
  background: #aae7d8;
  padding-top: 100px;
}

.contributes-card-row {
  padding: 10px;
}
