$break-small: 479px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == smaller-screens {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == handhelds {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

.footer-container {
  width: 100%;
  border: #e8f5e9;
  font-size: 25px;
}

label {
  font-family: Arial, serif;
  font-weight: bold;
  font-size: 30px;
  color: gainsboro;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

  @include respond-to(smaller-screens) {
    font-size: 16px;
  }
  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.socialIcon {
  padding-left: 20px;
  padding-right: 20px;

  @include respond-to(handhelds) {
    transform: scale(0.6);
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.socialIcon:hover {
  transform: scale(1.2);
  @include respond-to(handhelds) {
    transform: scale(0.8);
  }
}

.logoIcon {
  height: 130px;
  width: auto;

  @include respond-to(handhelds) {
    margin-left: 2px;
    margin-right: 2px;
    height: 80px;
  }
  @include respond-to(smaller-screens) {
    margin-left: 2px;
    margin-right: 2px;
    height: 50px;
  }
}

.textClass {
  font-family: "Arial Nova", sans-serif;
  color: gainsboro;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0;
  margin-left: 0;
  font-size: 25px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  @include respond-to(handhelds) {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  @include respond-to(smaller-screens) {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
