
// Small screen / tablet
$screen-sm: 768px;

$screen-xs-max: ($screen-sm - 1);


// respond-to()
@mixin respond-to($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  }
}



.login-container {
  padding-top: 20%;
  background-color: #5b8ff5;
  min-height: 700px;
  @include respond-to(xs)
  {
    min-height: 620px;
  }
}
.intecs-icon{
  width: 120px;
  height: auto;
  @include respond-to(xs)
  {
    width: 80px;
    height: auto;
  }
}
.inner-card {
  width: 500px;
  height: 600px;
  -webkit-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -4px rgba(0,0,0,0.75);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  @include respond-to(xs)
  {
    height: 450px;
  }
}

.login-form {
  width: 100% !important;
  height: 100% !important;
  padding: 20px;
}

.login-header {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  font-family: -apple-system, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);

  @include respond-to(xs)
  {
    font-size: 20px;
  }
}

.login-button {
  padding: 10px 20px;
  font-size: 17px;
  font-family: -apple-system, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin: 4px 2px;
  width: 75%;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login-label {
  margin-left: 10px;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  color: #4b4c4c;
  @include respond-to(xs)
  {
    font-size: 15px;
  }
}

.forgot-password {
  text-align: end;
  align-items: flex-end;
}